<a href="https://colab.research.google.com/github/Sme2200201/Computational-Journalism---NKUA/blob/main/exercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Άσκηση 1

Δημιουργήστε τις παρακάτω μεταβλητές:
- όνομα
- επώνυμο
- αριθμός μητρώου
- μάθημα 1
- μάθημα 2
- μάθημα 3
- βαθμός μαθήματος 1
- βαθμός μαθήματος 2
- βαθμός μαθήματος 3

Σε κάθε μεταβλητή δώστε το κατάλληλο όνομα (με αγγλικούς χαρακτήρες) και την αντίστοιχη τιμή, με το σωστό τύπο δεδομένων (string / integer).

Τυπώστε στην οθόνη (print) τις τιμές όλων των μεταβλητών που ορίσατε.

**Hints**:
- όπου η τιμή είναι αριθμός, σκεφτείτε αν θα χρησιμοποιήσετε stirng ή integer, ανάλογα με το αν χρειάζεται να κάνετε αργότερα αριθμητικές πράξεις
- χρησιμοποιήστε ονόματα μεταβλητών που να έχουν νόημα
- εάν γράψετε όλες τις εντολές σε ένα κελί, όταν φτάσετε στο τέλος στο σημείο να γράψετε την εντολή `print`, το colab θα σας προτείνει να γράψετε μέσα στις παρενθέσεις όλες τις μεταβλητές. Πατήστε `tab` για να αποδεχτείτε την πρόταση που σας κάνει.

In [1]:
first_Name = "Maria"
sur_Name = "Nisotaki"
student_Id = 202200201
course_1 = "Journalism"
course_2 = "Data Journalism"
course_3 = "Documentary"
grade_Course1 = 8
grade_Course2 = 9
grade_Course3 = 10
print(first_Name, sur_Name, student_Id, course_1, course_2, course_3, grade_Course1, grade_Course2, grade_Course3)

Maria Nisotaki 202200201 Journalism Data Journalism Documentary 8 9 10

## Άσκηση 2

Υπολογίστε το μέσο όρο των βαθμών των 3 μαθημάτων, αποθηκεύστε τον σε μια μεταβλητή και τυπώστε την τιμή της μεταβλητής του μέσου όρου στην οθόνη.

**Hints**:
- ο μέσος όρος υπολογίζεται με τη φόρμουλα: <άθροισμα επιμέρους τιμών> δια <πλήθος τιμών>
- για τον υπολογισμό του αθροίσματος των επιμέρους τιμών χρησιμοποιήστε τα ονόματα των μεταβλητών των επιμέρους τιμών και όχι τις τιμές τους

In [3]:
(grade_Course1 + grade_Course2 + grade_Course3) / 3

9.0

In [7]:
average_Grade = (grade_Course1 + grade_Course2 + grade_Course3) / 3
print (average_Grade)

9.0

Τυπώστε στην οθόνη τον τύπο δεδομένων της μεταβλητής του μέσου όρου.

In [6]:
type(average_Grade)

int

Μετατρέψτε το μέσο όρο σε ακέραιο (integer) και τυπώστε το αποτέλεσμα στην οθόνη.

## Άσκηση 3

Δημιουργήστε ένα νέο κελί κώδικα.

Μέσα στο κελί γράφει: Start coding or generate with AI. Πατήστε τη λέξη generate.

Στο κελί Generate που εμφανίζεται γράψτε ένα prompt με το οποίο να του ζητάτε να αλλάξει τη μεταβλητή grade1 σε 5 και να ξαναϋπολογίσει και να τυπώσει τον μέσο όρο.

In [10]:
# prompt: grade_Course1 = 5

first_Name = "Maria"
sur_Name = "Nisotaki"
student_Id = 202200201
course_1 = "Journalism"
course_2 = "Data Journalism"
course_3 = "Documentary"
grade_Course1 = 5
grade_Course2 = 9
grade_Course3 = 10
print(first_Name, sur_Name, student_Id, course_1, course_2, course_3, grade_Course1, grade_Course2, grade_Course3)

average_Grade = (grade_Course1 + grade_Course2 + grade_Course3) / 3
print (average_Grade)

type(average_Grade)
print (average_Grade)

Maria Nisotaki 202200201 Journalism Data Journalism Documentary 5 9 10
8.0
8.0

## Άσκηση 4

Φτιάξτε μια λίστα με όνομα actorsL και βάλτε μέσα στη λίστα τα ονοματεπώνυμα 3 αγαπημένων σας ηθοποιών.

Χρησιμοποιώντας το index, τυπώστε στην οθόνη:
- το 2ο ονοματεπώνυμο της λίστας
- το τελευταίο ονοματεπώνυμο της λίστας
- τα 2 πρώτα ονοματεπώνυμα

In [22]:
actorsL = ["Ethan Hawke", "Keira Knightley", "Leonardo DiCaprio"]
print(actorsL)
print(actorsL[1])
print(actorsL[-1])
print(actorsL[0:2])

['Ethan Hawke', 'Keira Knightley', 'Leonardo DiCaprio']
Keira Knightley
Leonardo DiCaprio
['Ethan Hawke', 'Keira Knightley']